<label class="label">
  <input
    class="input-checkbox"
    [id]="id"
    [name]="inputName ? inputName : ''"
    type="checkbox"
    [checked]="isChecked"
  />
  <span class="fake-checkbox"></span>
  {{ label }}
</label>
