.wrapper_flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form {
  margin-left: 27px;
}

.formInput {
  background-color: #000000;
  color: #ffffff;
  outline: none;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0 19px;
  width: 100%;
  height: 100%;
  position: relative;
  height: 30px
}

.form__heroСharacteristic {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form__parameters {
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: space-between;
}

.form__parameters .parameter:not(:last-child) {
  margin-right: 27px;
}

.form__counter {
  display: flex;
  justify-content: space-between;
}

.form__counterColor {
  color: #6b6b6b;
}

.textarea {
  width: 100%;
  padding: 19px;
  resize: none;
  box-sizing: border-box;
  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 4px;
  outline: none;
  color: #ffffff;
}

.form__tags {
  margin-top: 10px;
}

.photoColorWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 41px;
}

.form__addPhoto {
  width: 187px;
  height: 211px;
  border: 1px solid #3fc4fd;
  border-radius: 4px;
  position: relative;
}

.form__photoInput {
  position: relative;
  bottom: 8px;
  left: 9px;
  position: absolute;
  width: 90%;
  height: 32px;
}

.form__photoInput_text {
  position: absolute;
  bottom: 7px;
  left: 27px;
  z-index: 1;
  font-size: 18px;
}

.colors {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.colors__flexbox {
  display: flex;
  align-items: center;
}

.colors__flexbox label {
  margin-left: 15px;
}

.error {
  color: red;
  font-size: 12px;
}

.formInput.ng-touched.ng-invalid, .textarea.ng-touched.ng-invalid {
  border: solid red 2px !important;
}

.separator {
  height: 651px;
  margin: 0 27px;
}

.modalFormView {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.viewsContainer {
  display: flex;
  justify-content: center;
  width: 458px;
  height: 297px;
  border-radius: 4px;
  overflow: hidden;
  margin: 20px 0;
}
