<div class="wrapper_flexbox">
  <form #myForm="ngForm" class="form" novalidate>
    <div class="form__heroСharacteristic">
      <label for="addName">Add name</label>
      <input
        class="formInput"
        name="addName"
        [(ngModel)]="addingHero.name"
        autocomplete="off"
        required
      />
      <div
        *ngIf="
          myForm.controls.addName?.touched && myForm.controls.addName?.invalid
        "
        class="error"
      >
        Field is required
      </div>
      <div class="form__parameters">
        <div class="parameter">
          <label>Gender</label>
          <app-select
            [dropdownId]="'formGender'"
            [isDropdownOpen]="isDropdownOpen"
          >
            <input
              [id]="'formGender'"
              input
              class="formInput"
              name="addGender"
              [(ngModel)]="addingHero.gender.value"
              autocomplete="off"
              disabled="true"
              required
            />
            <app-dropdown dropdown [id]="'formGender'" *ngIf="isLoading">
              <div *ngFor="let gender of genders">
                <app-checkbox
                  [id]="gender.id"
                  [label]="gender.value"
                  (change)="changeCheckbox($event)"
                >
                </app-checkbox>
              </div>
            </app-dropdown>
          </app-select>
          <div
            *ngIf="
              myForm.controls.addGender?.touched &&
              myForm.controls.addGender?.invalid
            "
            class="error"
          >
            Field is required
          </div>
        </div>
        <div class="parameter">
          <label>Race</label>
          <app-select
            [dropdownId]="'formRace'"
            [isDropdownOpen]="isDropdownOpen"
          >
            <input
              [id]="'formRace'"
              input
              class="formInput"
              name="addRace"
              [(ngModel)]="addingHero.race.value"
              autocomplete="off"
              disabled="true"
              required
            />
            <app-dropdown dropdown [id]="'formRace'" *ngIf="isLoading">
              <div *ngFor="let race of races">
                <app-checkbox
                  [id]="race.id"
                  [label]="race.value"
                  (change)="changeCheckbox($event)"
                >
                </app-checkbox>
              </div>
            </app-dropdown>
          </app-select>
          <div
            *ngIf="
              myForm.controls.addRace?.touched &&
              myForm.controls.addRace?.invalid
            "
            class="error"
          >
            Field is required
          </div>
        </div>
        <div class="parameter">
          <label>Side</label>
          <app-select
            [dropdownId]="'formSide'"
            [isDropdownOpen]="isDropdownOpen"
          >
            <input
              [id]="'formSide'"
              input
              class="formInput"
              name="addSide"
              [(ngModel)]="addingHero.side.value"
              autocomplete="off"
              disabled="true"
              required
            />
            <app-dropdown dropdown [id]="'formSide'" *ngIf="isLoading">
              <div *ngFor="let side of sides">
                <app-checkbox
                  [id]="side.id"
                  [label]="side.value"
                  (change)="changeCheckbox($event)"
                >
                </app-checkbox>
              </div>
            </app-dropdown>
          </app-select>
          <div
            *ngIf="
              myForm.controls.addSide?.touched &&
              myForm.controls.addSide?.invalid
            "
            class="error"
          >
            Field is required
          </div>
        </div>
      </div>
      <label class="form__counter">
        <span>Add description</span>
        <span class="form__counterColor">
          {{ addingHero.description.length }}/100
        </span>
      </label>
      <textarea
        class="textarea"
        id="addDescription"
        name="addDescription"
        rows="{6}"
        [(ngModel)]="addingHero.description"
        required
      ></textarea>
      <div
        *ngIf="
          myForm.controls.addDescription?.touched &&
          myForm.controls.addDescription?.invalid
        "
        class="error"
      >
        Field is required
      </div>
      <div *ngIf="addingHero.description.length > 100" class="error">
        Maximum length reached
      </div>
      <div class="form__tags">
        <label class="form__counter">
          <span>Add tags</span>
          <span class="form__counterColor"> {{ arrayTags.length }}/3 </span>
        </label>
        <input
          class="formInput"
          name="addTags"
          [(ngModel)]="tags"
          (ngModelChange)="getTags()"
          autocomplete="off"
          required
        />
        <div
          *ngIf="
            myForm.controls.addTags?.touched && myForm.controls.addTags?.invalid
          "
          class="error"
        >
          Field is required
        </div>
        <div *ngIf="arrayTags.length > maxLengthTags" class="error">
          Maximum length reached
        </div>
      </div>
    </div>
    <div class="photoColorWrapper">
      <div class="form__addPhoto">
        <div class="form__photoInput">
          <!-- <span class="form__photoInput_text">Upload by URL</span> -->
          <input
            style="height: '32px'; border-color: '#3fc4fd'"
            class="formInput"
            name="addPhoto"
            [(ngModel)]="addingHero.imageURL"
            autocomplete="off"
            required
          />
        </div>
      </div>
      <div class="colors">
        <div class="colors__flexbox">
          <app-input-color></app-input-color>
          <label>Name color</label>
        </div>
        <div class="colors__flexbox">
          <app-input-color></app-input-color>
          <label
            >Background color <br />
            of the parameters</label
          >
        </div>
        <div class="colors__flexbox">
          <app-input-color></app-input-color>
          <label>Color of parameters</label>
        </div>
      </div>
    </div>
    <div
      *ngIf="
        myForm.controls.addPhoto?.touched && myForm.controls.addPhoto?.invalid
      "
      class="error"
    >
      Field is required
    </div>
    <app-button
      [text]="'Save'"
      [disabled]="myForm.invalid ? myForm.invalid : false"
    ></app-button>
  </form>
  <!-- <hr class="separator" /> -->
  <!-- <div class="modalFormView">
    <div style="position: 'absolute'; top: '45px'">Preview</div>
    <div class="views">
      <span *ngFor="let view of views">
        {{ view }}
      </span>
    </div>
    <div class="viewsContainer">
      <div>{{ addingHero.name }}</div>
      <app-card>
        <app-card-description></app-card-description>
      </app-card>
    </div>
    <app-pagination
      (pageChanged)="viewChanged($event)"
      [changeElement]="viewingWindow"
      [totalElements]="views.length"
      [shownElementsOnPage]="1"
    ></app-pagination>
  </div> -->
</div>
