<div class="card">
  <div class="heroName">
    <span [style.color]="nameColor()">{{hero.name}}</span>
  </div>
  <div class="avatarContainer">
    <img [src]="hero.imageURL" />
  </div>
  <ng-content></ng-content>
</div>
