.card {
  display: flex;
  flex-direction: column;
  flex: 0 1 32%;
  position: relative;
  box-sizing: border-box;
  max-width: 410px;
  min-width: 254px;
  max-height: 550px;
}

.heroName {
  width: 131px;
  position: absolute;
  top: 29px;
  left: 26px;
  z-index: 1;
}

.avatarContainer {
  box-sizing: border-box;
  overflow: hidden;
  height: 400px;
}

.avatarContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

