<div>
  <div class="description" [ngStyle]="descriptionStyle">
    <div class="field">
      <span>Gender</span>
      <span>{{ gender }}</span>
    </div>
    <div class="field">
      <span>Race</span>
      <span>{{ race }}</span>
    </div>
    <div class="field">
      <span>Side</span>
      <span>{{ side }}</span>
    </div>
  </div>
</div>
