<div class="header">
  <img [src]="imageLogo" />
  <nav class="navbar__list">
    <div class="navbar__listItem">
      <a
        routerLink="/"
        routerLinkActive="activeLink"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ linksText[0] }}</a
      >
    </div>
    <div class="navbar__listItem">
      <a routerLink="/preview" routerLinkActive="activeLink">{{
        linksText[1]
      }}</a>
    </div>
  </nav>
</div>
