.header {
  display: flex;
  align-items: center;
  max-height: 131px;
  height: 10vh;
  padding: 0 80px;
}

.header img {
  height: 8vh;
}

.navbar__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  font-size: 24px;
}

.navbar__listItem:first-child {
  padding-left: 45px;
}

.navbar__listItem:not(:last-child) {
  padding-right: 69px;
}

.header .activeLink {
  color: #3fc4fd;
}
