.input {
  background-color: #000000;
  color: #ffffff;
  outline: none;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0 19px;
  width: 100%;
  height: 100%;
  position: relative;
}

.inputIcon {
  position: absolute;
  cursor: pointer;
}
