<div [id]="dropdownId" (click)="openCloseDropdown($event)">
  <ng-content select="[input]"></ng-content>
  <div select="[dropdown]" *ngIf="isDropdownOpen">
    <ng-content></ng-content>
  </div>
</div>
