.heroModal {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
}

.heroModal__information {
  padding: 5%;
  width: 60%;
}

.heroModal__name {
  font-size: 300%;
}

.heroModal__description {
  margin: 20% 0;
}

.heroModal__img {
  height: 100%;
}

.heroModal__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.modal__tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  bottom: 3%;
  right: 2%;
}
