<div
  class="heroModal"
  (click)="onClick($event)"
  [style.background-color]="currentHero.backgroundColor"
>
  <div class="heroModal__information">
    <span class="heroModal__name">
      {{ currentHero.name }}
    </span>
    <div class="heroModal__description">
      <app-card-description
        [gender]="currentHero.gender.value ? currentHero.gender.value : ''"
        [race]="currentHero.race.value ? currentHero.race.value : ''"
        [side]="currentHero.side.value ? currentHero.side.value : ''"
        [descriptionStyle]="{
          backgroundColor: currentHero.backgroundColor,
          color: currentHero.parametersColor
        }"
      ></app-card-description>
    </div>
    <p>{{ currentHero.description }}</p>
  </div>
  <div class="heroModal__img">
    <img [src]="currentHero.imageURL" />
    <div class="modal__tags">
      <span [style.background-color]="'#9CC97B'">{{ currentHero.tag1 }}</span>
      <span [style.background-color]="'#C9897B'">{{ currentHero.tag2 }}</span>
      <span [style.background-color]="'#3FC4FD'">{{ currentHero.tag3 }}</span>
    </div>
  </div>
</div>
