<div class="homePage">
  <div class="homePageContent">
    <div class="homePage__text">
      <h1>Find all your favorite heroes "Star Wars"</h1>
      <p>
        You can know the type of heroes, its strengths, disadvantages and
        abilities
      </p>
    </div>
    <app-button [text]="'Start'" [textFontSize]="18" [width]="122" [height]="55" (click)="goToPreview('preview')"></app-button>
  </div>
</div>
