.homePage {
  height: 90vh;
  background: url('../../../../assets/images/bg_1.png') no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.homePageContent {
  position: absolute;
  left: 5vw;
  top: 18vh;
  max-width: 40vw;
}

.homePage__text h1 {
  font-size: 4vw;
  line-height: 6vw;
}

.homePage__text p {
  font-size: 1.5vw;
  width: 30vw;
  line-height: 3vw;
}

@media (min-width: 1920px) {
  .homePage__text h1 {
    font-size: 72px;
    line-height: 80px;
  }
}
