<app-select [dropdownId]="dropdownId" [isDropdownOpen]="isDropdownOpen" >
  <app-input
    input
    [inputId]="inputId"
    [name]="inputName"
    [value]="currentFilterValue"
    [ngModel]="currentFilterValue"
    (ngModelChange)="changeCurrentFilterValue()"
    [disabled]="true"
    [icon]="icon"
    [inputStyle]="inputStyle"
    [iconStyle]="iconStyle"
    ngDefaultControl
  ></app-input>
  <app-dropdown dropdown [id]="dropdownId">
    <div *ngFor="let initialValue of initialValues">
      <app-checkbox
        [id]="initialValue.id"
        [label]="initialValue.value"
        [isChecked]="initialValue.isChecked"
        (change)="changeCheckbox($event)"
      >
      </app-checkbox>
    </div>
  </app-dropdown>
</app-select>
