.form {
  display: flex;
  flex-direction: column;
}

.formFilters__container {
  display: flex;
}

.formFilters__container .currentFilter {
  position: relative;
  margin-right: 12px;
}

.form__FiltersAddWrapper {
  display: flex;
  justify-content: space-between;
}

.form__search {
  position: relative;
  margin-bottom: 14px;
}

.form__addNewHero {
  position: relative;
}
