<form class="form" #form="ngForm" *ngIf="isLoading">
  <div class="form__search">
    <app-input
      [inputId]="'search'"
      [name]="'search'"
      [value]="searchValue"
      [placeholder]="'Search'"
      [icon]="iconSearch"
      [inputStyle]="inputStyleSearch"
      [iconStyle]="iconStyleSearch"
      [(ngModel)]="searchValue"
      (ngModelChange)="searchInput()"
      ngDefaultControl
    ></app-input>
  </div>
  <div class="form__FiltersAddWrapper">
    <div class="formFilters__container">
      <app-filter-select
        class="currentFilter"
        [filterName]="'Gender'"
        [dropdownId]="genderId"
        [inputId]="'gender'"
        [inputName]="'genderInput'"
        [initialValues]="initialValuesGender"
        [icon]="iconArrow"
        [inputStyle]="inputStyleFilter"
        [iconStyle]="iconStyleFilter"
        (currentFilterChanged)="selectFiltersChange($event)"
      ></app-filter-select>
      <app-filter-select
        class="currentFilter"
        [filterName]="'Race'"
        [dropdownId]="raceId"
        [inputId]="'race'"
        [inputName]="'raceInput'"
        [initialValues]="initialValuesRace"
        [icon]="iconArrow"
        [inputStyle]="inputStyleFilter"
        [iconStyle]="iconStyleFilter"
        (currentFilterChanged)="selectFiltersChange($event)"
      ></app-filter-select>
      <app-filter-select
        class="currentFilter"
        [filterName]="'Side'"
        [dropdownId]="sideId"
        [inputId]="'side'"
        [inputName]="'sideInput'"
        [initialValues]="initialValuesSide"
        [icon]="iconArrow"
        [inputStyle]="inputStyleFilter"
        [iconStyle]="iconStyleFilter"
        (currentFilterChanged)="selectFiltersChange($event)"
      ></app-filter-select>
    </div>
  </div>
</form>
