.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 2;
}

.modal__container {
  position: absolute;
  left: 50%;
  top: 10%;
  z-index: 1000;
  transform: translateX(-50%);
  background-color: #000000;
  width: 1020px;
  height: 722px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  overflow: hidden;
}

.modal__closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
