.previewPage__wrapper {
  border-top: 1px solid #ffffff;
  position: relative;
  height: 90vh;
  box-sizing: border-box;
  background: url("../../../../assets/images/bg_2.png") no-repeat;
  background-size: 100% 100%;
}

.previewPage {
  max-width: 1398px;
  margin: 4vh auto;
  position: relative;
}

.previewBanner {
  max-width: 1280px;
  margin: 0 4vw;
  box-sizing: border-box;
}

.previewBanner h1 {
  margin: 0 0 4vh 0;
  text-align: center;
  font-size: 4vh;
}

.previewInfo {
  width: 100%;
}

.registry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3vh;
}

.loader {
  height: 550px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardsList {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 3vh;
}

.cardsList .card:not(:last-child) {
  margin-right: 25px;
}

.cardsList .card {
  transition: transform 0.3s ease-in-out;
}

.cardsList .card:hover {
  transform: translateY(-10px);
}

.cardsList_noMatches {
  height: 550px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters_addBtn_wrapper {
  position: relative;
}

.addNewHero {
  position: absolute;
  right: 0;
  top: 65px;
}
