<div class="previewPage__wrapper">
  <div class="previewPage">
    <div class="previewBanner">
      <h1>Who's Your Favorite Star Wars</h1>
      <div class="filters_addBtn_wrapper">
        <app-form-filters
          [filtersState]="filtersState"
          (filtersValueChanged)="filtersStateChanged($event)"
        ></app-form-filters>
        <div class="addNewHero">
          <app-input
            [id]="'addHero'"
            [value]="'Add'"
            [disabled]="true"
            [inputStyle]="{ width: '140px', height: '45px' }"
            [iconStyle]="{ top: '17px', right: '12px' }"
            [icon]="iconAdd"
            (click)="openAddForm()"
          ></app-input>
        </div>
      </div>
      <app-loader class="loader" *ngIf="!isLoading"></app-loader>
      <div *ngIf="isLoading" class="registry">
        <div class="cardsList">
          <app-card
            class="card"
            *ngFor="let hero of getCurrentCards()"
            [hero]="hero"
            (click)="openCard(hero.id)"
          >
            <app-card-description
              [gender]="hero.gender"
              [race]="hero.race"
              [side]="hero.side"
              [descriptionStyle]="{
                backgroundColor: hero.backgroundColor,
                color: hero.parametersColor ? hero.parametersColor : 'white'
              }"
            ></app-card-description>
          </app-card>
        </div>
        <div *ngIf="heroesMap.size === 0" class="cardsList_noMatches">
          Sorry, no matches found
        </div>
        <app-pagination
          *ngIf="heroesMap.size !== 0"
          (pageChanged)="pageChangedInRegistry($event)"
          [changeElement]="currentPage"
          [totalElements]="heroesMap.size"
          [shownElementsOnPage]="1"
        ></app-pagination>
      </div>
    </div>
  </div>
  <app-modal-container
    *ngIf="showHeroModal"
    [modalId]="'heroModal'"
    [closeBtnlId]="'heroModalClose'"
    (click)="closeModal($event)"
  >
    <app-heroModal [currentHero]="currentHero"></app-heroModal>
  </app-modal-container>
  <app-modal-container
    *ngIf="showAddModal"
    [modalId]="'addModal'"
    [closeBtnlId]="'addModalClose'"
    (click)="closeModal($event)"
  >
    <app-add-hero></app-add-hero>
  </app-modal-container>
</div>
