.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__dot {
  background-color: #ffffff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 6px 29px 6px 29px;
}

.activePage {
  background-color: #3fc4fd;
}
