<div class="pagination">
  <app-arrow
    [arrowForwardIcon]="arrowIcon"
    [isForwardArrow]="false"
    (click)="onClickBackArrow()"
  ></app-arrow>
  <div
    *ngFor="let dot of arrayDots"
    [id]="dot"
    class="pagination__dot"
    [class]="addActiveClass(dot)"
  ></div>
  <app-arrow
    [arrowForwardIcon]="arrowIcon"
    [isForwardArrow]="true"
    (click)="onClickForwardArrow()"
  ></app-arrow>
</div>
