/* You can add global styles to this file, and also import other style files */

body {
  padding: 0;
  margin: 0 auto;
  max-width: 1920px;
  font-family: "Roboto", serif;
  color: #ffffff;
  background-color: #000000;
  box-sizing: border-box;
  position: relative;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
